html {
    width: 100%;
}
/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
body {
    font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    margin: 0px;
    width: 100%;
    background-color: snow;
}
.background {
    background-color: #1c5380;
    height:350px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.foreground {
    position:absolute;
    z-index: 2;
    margin: 10%;
}
.above{
    display: flex;
}
.left{
    margin: 5%;
}
.top{
    margin: 5%;
    display: flex;
    width: 500px;
}
.middle{
    margin: 5%;
    background-image: url(../images/frame.png);
    background-repeat: no-repeat;
    width: 500px;
}
.middle #head {
    color: #06365f;
}
.bottom{
    display: flex;
    margin-left: 10%;
}

footer{
    margin-left: 20%;
}
footer,
ul {
    list-style: none;
}

footer,
ul,
li {
    display: inline;
    padding: 10px;
    font-size: xx-small;
}

.middle #par{
    padding: 35px;
    padding-bottom: 10px;
    max-width: 400px;
}

#par2{
    padding-left: 30px;
    padding-right: 40px;
    max-width: 400px;
}

#login_btn{
    height: 40px;
    background-color: #06365f;
    font-size: medium;
    margin-left: 10%;
    margin-top: 10px;   
    display: flex;    
    border-radius: 5px;     
}

#login_btn span{
    padding: 5px;
    color: white;
}

#login_btn img{
   padding: 5px;
}

footer{
    display: flex;
}

footer span{
    display: flex;
    padding: 19px;
    color: grey;
    font-weight: bold;
}
.bottom img{
    margin-right: 10px;
}

#head{
    color: #202A44;
    font-weight: bold;
    font-size: 30px;
}

ul li{
    color: #202A44;
}
ul li a
{
    color: #1c5380;
    text-decoration: none;
}
ul li a:hover
{
    text-decoration: underline;
}
@media (max-width: 700px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
